@use 'animations';

@font-face {
    font-family: enchant;
    src: url(enchanted-tales.otf);
}

*{
    margin: 0;
    padding: 0;
    // font-family: 'enchant', 'sans-serif';
}

@mixin golden-text{
    background: linear-gradient(90deg, #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
@mixin silver-text{
    // background: linear-gradient(90deg, #ffffff, #7a7a7a);    
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
@mixin bronze-text{
    // background: linear-gradient(90deg, #deb884, #90754e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

::-webkit-scrollbar{
    width: 0px;
}

body{
    // background-color: #061818;
    min-height: 2000px;
    overflow-y: clip;
    // background-color: #010707;
}

.parallax-wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    perspective: 50px;

    header{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        // height: 100%;
        height: 1107px;
        transform-style: preserve-3d;
        z-index: 9;

        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 100px;
            background: linear-gradient(to top, #010707, transparent);
            z-index: 10;
        }

        > img{
            position: absolute;
            height: 100%;
            width: 100%;
            object-fit: cover;
            pointer-events: none;
            &:nth-child(1){
                transform: translateZ(-50px) scale(2);
            }
            &:nth-child(2), &:nth-child(3){
                transform: translateZ(-25px) scale(1.5);
            }
        }

        .jumbo-content{
            position: absolute;
            display: flex;
            flex-direction: column;
            align-items: center;
            // background: black;
            z-index: 10000;
            overflow: clip;
            height: 100%;
            transform: translateZ(-20px) scale(1.4);
            h2{
                position: relative;
                top: 7rem;
                font-size: 5.5em;
                z-index: 10;
                @include golden-text;
                animation: fadeIn ease 0.5s;
            }
            button{
                border-radius: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%) scale(0.7);
                transition: transform 0.2s linear;
                border: none;
                cursor: pointer;
                
                
                img{
                    user-select:none;
                    transform: scale(1.5);
                    align-self: center;
                    position: relative;
                    width: 15em;
                    height: auto;                    
                    // background: red;
                }   
            }
        }
    }


    .content {
        padding-top: 15rem;
        width: 100%;
        // background-color: #061818;
        background-image: url('/public/images/2025/background\ main\ 2.png');
        height: auto; 
        position: relative;
        z-index: 11; 
    
        &::before {
            content: '';
            position: absolute;
            top: 0;
            width: 100%;
            height: 500px; 
            // background: linear-gradient(to bottom, #010707, #061818);
            z-index: 12; 
        }
    
        .score {
            position: relative; 
            z-index: 13; 
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0 6rem;
            // background: linear-gradient(to bottom,  #030f0f, #061f1f);

            h3 {
                font-family: 'ecnhanted';
                font-size: 4rem;
                @include golden-text; 
            }

            div{
                width: 100%;
                height: 600px;
                padding: 2rem 0;
                display: flex;
                justify-content: center;
                align-items: start;


                .top-three{
                    position: relative;
                    top: 4rem;
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: end;
                    font-weight: 900;
                    gap: 4px;
                    .podium{
                        max-width: 300px;
                        padding: 0 3rem 1rem;
                        color: white;
                        border: 5px solid transparent;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;

                        h1{
                            font-size: 4rem;
                            position: absolute;
                            margin-top: -6rem;
                        }
                        p{
                            position: relative;
                            top: 1rem;
                            text-align: center;
                            font-size: 1rem;
                        }

                        &:nth-child(2){
                            max-height: 150px;
                            border-image: linear-gradient(to bottom, #d4d4d4, #3f3f3f02);
                            border-image-slice: 1;
                            h1{@include silver-text}
                        }
                        &:nth-child(1){
                            max-height: 200px;
                            border-image: linear-gradient(to bottom, #e1e5ab, #3f3f3f02);
                            border-image-slice: 1;
                            h1{@include golden-text}
                        }
                        &:nth-child(3){
                            max-height: 100px;
                            border-image: linear-gradient(to bottom, #deb884, #3f3f3f02);
                            border-image-slice: 1;
                            h1{@include bronze-text}
                        }
                    }
                }
            }
        }
    }
}
.quizz{
    opacity: 1;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(6, 18, 24, 0.8);
    backdrop-filter: blur(10px);
    color: white;
    z-index: 100;
}

// #soalContainer{
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
    
//     p{
//         font-family: sans-serif !important;
//         font-size: 1.3rem;
//     }
//     .pilihan-ganda{
//         margin-top: 20px;
//         display: flex;
//         flex-direction: column;
//         gap: 20px;


//         & * {
//             box-sizing: border-box;
//             padding: 0;
//             margin: 0;
//         }
//         label {
//             display: flex;
//             align-items: center;
//             gap: 15px;
//             padding: 10px 20px;
//             width: 50vw;
//             cursor: pointer;
//             // height: 50px;
//             position: relative;
//             // background: rgb(128, 112, 255);
//             &:hover{
//                 background: linear-gradient(45deg, #e1e5ab70, #61661700);
//             }

//             .text {
//                 color: #fff;
//             }
//             &:hover::before {
//                 transition: all 0.2s ease;
//                 background-color: #2a2e3c;
//             }

//             &:has(input:checked){
//                 background: linear-gradient(45deg, #f9e7ab29, #fafec129);
//                 border: 4px solid ;
//                 border-image: linear-gradient(45deg, #e1e5ab, #414607);
//                 border-image-slice: 1;
//                 border-radius: 20px;
//                 height: auto;
//             }

//             input[type="radio"] {
//                 // background-color: #e1e5ab;
//                 border: 3px solid #e1e5ab;
//                 appearance: none;
//                 width: 15px;
//                 height: 15px;
//                 border-radius: 50%;
//                 display: flex;
//                 justify-content: center;
//                 align-items: center;

//                 &:checked {
//                     // background-color: #435dd8;
//                     -webkit-animation: puls 0.7s forwards;
//                     animation: pulse 0.7s forwards;

//                     &::before {
//                         transform: scale(1);
//                     }
//                 }

//                 &:before {
//                     content: "";
//                     width: 6px;
//                     height: 6px;
//                     border-radius: 50%;
//                     transition: all 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
//                     background-color: #fff;
//                     transform: scale(0);
//                 }
//             }
//         }
//     }
//     button{
//         font-size: 25px;
//         font-weight: 600;
//         margin-top: 50px;
//         padding: 7px 50px;
//         border: 4px solid ;
//         border-image: linear-gradient(45deg, #e1e5ab, #414607);
//         border-image-slice: 1;
//         border-radius: 20px;
//         height: auto;

//         &:hover{
//             background: linear-gradient(45deg, #f9e7ab29, #fafec129);
//         }
//     }

//     .score-text{
//         display: inline-block;
//         background: linear-gradient(45deg, #CBE1B6, #756c41, #bcd39a);
//         background-size: 200% 200%; /* Makes the gradient larger to allow smooth animation */
//         color: transparent;
//         -webkit-background-clip: text;
//         background-clip: text;
//         &:hover{
//             animation: gradientAnimation 5s infinite;
//         }
//     }
        
//     @keyframes gradientAnimation {
//         0% {
//             background-position: 0% 50%;
//         }
//         50% {
//             background-position: 100% 50%;
//         }
//         100% {
//             background-position: 0% 50%;
//         }
//     }
// }  

// #registration{
//     form{
//         display: flex;
//         width: 100%;
//         height: 100vh;
//         flex-direction: column;
//         justify-content: space-around;
//         button {
//             position: relative;
//             overflow: hidden;
//             border: 5px solid transparent;
//             display: flex;
//             flex-direction: column;
//             justify-content: center;
//             align-items: center;
//             border-image: linear-gradient(100deg, #e1e5ab, #605936);
//             border-image-slice: 1;
//             color: #e1e5ab;
//             padding: 1rem 10rem;
//             font-weight: 900;
//             transition: color 0.5s ease-out;
//             font-size: 2rem;
//             background: none; 
        
//             &::before {
//                 content: '';
//                 position: absolute;
//                 top: 0;
//                 left: 0;
//                 right: 0;
//                 bottom: 0;
//                 background: linear-gradient(100deg, #e1e5ab, #605936);
//                 opacity: 0;
//                 transition: opacity 0.5s ease-out;
//                 z-index: -1; 
//             }
        
//             &:hover {
//                 color: white;
//             }
        
//             &:hover::before {
//                 opacity: 0.7; 
//             }
//         }
        
//         div{
//             display: flex;
//             flex-direction: column;
//             gap: 2rem;
            
//             input{
//                 font-family: sans-serif !important;
//                 border-bottom: 5px solid;
//                 border-image: linear-gradient(120deg, #e1e5ab, #605936);
//                 border-image-slice: 1;
//                 background: transparent;
//                 font-size: 1.54rem;
//                 padding: 4px 0;
//             }
//             label{
//                 @include golden-text;
//                 font-size: 4rem;
//                 font-weight: 900;
//             }
//         }
//     }
    
// }